* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-parrafo);
}

/* MENU DE LA IZQUIERDA*/

.Posicion {
  margin-top: 50px;
  background-color: white;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 1rem;
}

.menu-lateral {
  width: 200px;
}

/*Boton de filtrar */

.filtro-btn {
  display: none;
  background-color: white;
  border-radius: var(--radio-borde);
  border-color: var(--color-gris);
  border-width: 2px;
  padding: 0.4rem ;
  width: 9rem;
  height: 3rem;
  font-size: var(--font-size-parrafo);
  cursor: pointer;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .filtro-btn {
    display: block;
  }

  .menu-lateral {
    display: none; /* Oculta el menú por defecto */
  }

  .menu-lateral.activo {
    display: block; /* Lo muestra cuando se activa */
  }

  .menu {
    flex-direction: column;
  }
}

/* CARDS */
.contenedor-obras { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 200px));
    gap: 2.5rem;
    justify-items: center; 
    max-width: 1200px; /* ancho */
    margin: 0 auto; /* centra el contenedor */
}

.description-card{
  display: none;
}

.caja-obra {
    background: white;
    border: 1px solid var(--color-gris);
    border-radius: var(--radio-borde);
    overflow: hidden;
    box-shadow: var(--sombra-suave);
    transition: transform 0.2s;
    padding: 1rem;
}

.caja-obra:hover {
    transform: scale(1.02);
}

.caja-obra img {
    width: 100%;
    aspect-ratio: 3 / 5; 
    object-fit: cover;
    display: block;
}

.texto-obra {
    padding: var(--espaciado-mediano);
}

.texto-obra h3 {
    font-family: var(--fuente-titulo);
    font-size: var(--font-size-subtitulo);
    margin-bottom: var(--espaciado-pequeno);
}

.texto-obra .precio-obra {
    color: var(--color-principal);
    font-weight: bold;
    margin-top: var(--espaciado-pequeno);
}

.tarjeta-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  /* Tarjetas ocultas */
.tarjeta-link[style*="display: none"] {
    display: none !important;
}

/* MENU LATERAL*/

.menu-lateral {
    background-color: var(--color-claro);
    border-radius: var(--radio-borde);
    box-shadow: var(--sombra-suave);
    padding: var(--espaciado-mediano);
  }
  
  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-pequeno);
  }
  
  .menu-item {
    margin-bottom: var(--espaciado-pequeno);
  }
  
  .menu-link {
    display: block;
    padding: 0.75rem 1rem;
    color: var(--color-negro-suave);
    text-decoration: none;
    font-size: var(--font-size-parrafo);
    border-radius: var(--radio-borde);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu-link:hover {
    background-color: var(--color-gris);
    color: var(--color-principal);
  }
  
  /* .menu-link.active {
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
  } */


@media screen and (max-width: 768px) {
    .Posicion {
      flex-direction: column;
      align-items: stretch;
    }
  
    .menu-lateral {
      width: 100%;
    }
  
    .contenedor-obras {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
  }